@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
.fake-img1 {
    border:1px solid rgba(47, 66, 71, 0.849);
    padding: 1.25rem;
    text-align: center;
    background: rgba(255, 0, 140, 0.705);
    font-family: 'Train One', cursive;
    }

.fake-img2 {
    size: 100px, 100px;
    border: 10px solid rgb(179, 36, 167);
    padding: 2rem;
    text-align: center;
    font-family: 'Train One', cursive;
    background: linear-gradient(red, orange, yellow, green, blue, darkblue, purple);
    }

.fake-img3 {
    border:100px solid rgb(69, 69, 69);
    padding: 2.9rem;
    text-align: center;
    background: #84422b;
    font-family: 'Train One', cursive;
    text-shadow: 10px 20px 5px rgb(183, 0, 255);
    }
.fff{
    text-transform: capitalize;
}
.ff{
    text-transform: uppercase;
}
.f{
    white-space: pre;
}
.rocket{
    width:500px;
    height: 175px;
    transform:rotate(90deg);
}
.floating_icon{
    top: 50%;
    position:fixed;
}

nav.hover a:hover{
    background-color: blanchedalmond;
}
